# Olympics 2021 Knowledge Graph Using OwlReady

i180600 - Areesha Maqsood

i180432 - Shujaa Marwat

i180557 - Abdul Mannan

In [1]:
import pandas as pd
import numpy as np

In [2]:
!pip install owlready2
from owlready2 import *

Collecting owlready2
  Downloading Owlready2-0.35.tar.gz (23.8 MB)
     |████████████████████████████████| 23.8 MB 80.0 MB/s
Building wheels for collected packages: owlready2
  Building wheel for owlready2 (setup.py) ... done
  Created wheel for owlready2: filename=Owlready2-0.35-cp37-cp37m-linux_x86_64.whl size=20432824 sha256=b61fb318e080dcd6a72270a1c9a5e7bb41a68b2270b15823d0d90babd02f91a4
  Stored in directory: /root/.cache/pip/wheels/a6/85/8f/4f254dc1d3b7901c23004544f7214748607d8b0c2c02b3c868
Successfully built owlready2
Installing collected packages: owlready2
Successfully installed owlready2-0.35

Mounting the drive

In [3]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

Creating the Onotology

In [4]:
# onto_olympics= get_ontology("https://github.com/AreeshaMalik/KG-Project/blob/main/ASMR.owl")
onto_olympics= get_ontology("/content/drive/MyDrive/KG Project/ASMR_7.owl")

Loading onotolgy from Owl file

In [5]:
onto_olympics.load()

get_ontology("http://www.semanticweb.org/areeshamaqsood/ontologies/2021/11/untitled-ontology-4#")

Testing if our dataset is loaded correctly or not

In [6]:
list(onto_olympics.classes())

[ASMR_7.Athlete,
 ASMR_7.National_Olympic_Committee,
 ASMR_7.Coach,
 ASMR_7.sports_discipline,
 ASMR_7.Team,
 ASMR_7.Category,
 ASMR_7.Award]

Adding individuals directly without a class

In [7]:
# owl.Thing('Men')
# with onto_olympics:
#   Thing("AreeshaIndie")
list(Thing.instances())

[ASMR_7.Bronze_Medal, ASMR_7.Gold_Medal, ASMR_7.Silver_Medal, ASMR_7.sada]

In [8]:
list(onto_olympics.data_properties())

[ASMR_7.femaleAthletes,
 ASMR_7.maleAthletes,
 ASMR_7.rankByGold,
 ASMR_7.rankByTotalMedals,
 ASMR_7.teamName,
 ASMR_7.totalAthletes,
 ASMR_7.wonBronzeMedals,
 ASMR_7.wonGoldMedals,
 ASMR_7.wonSilverMedals]

In [9]:
list(onto_olympics.object_properties())

[ASMR_7.athletePlaysForNOC,
 ASMR_7.coachesDiscipline,
 ASMR_7.disciplineCoachedBy,
 ASMR_7.coachesForNOC,
 ASMR_7.coachesTeam,
 ASMR_7.teamCoachedBy,
 ASMR_7.disciplinePlayedByAthlete,
 ASMR_7.playsDiscipline,
 ASMR_7.disciplinePlayedByTeam,
 ASMR_7.teamPlaysDiscipline,
 ASMR_7.hasAthlete,
 ASMR_7.hasCoach,
 ASMR_7.hasTeam,
 ASMR_7.isPlayedByTeam,
 ASMR_7.playsCategory,
 ASMR_7.receivedMedal,
 ASMR_7.teamPlaysForNOC]

In [10]:
list(onto_olympics.disjoints())

[AllDisjoint([ASMR_7.Athlete, ASMR_7.Team]),
 AllDisjoint([ASMR_7.Coach, ASMR_7.Team])]

Loading all the xlsx files here taken from Kaggle

In [11]:
athletes_xlsx = pd.read_excel("/content/drive/MyDrive/KG Project/Athletes.xlsx")
# athletes_xlsx = athletes_xlsx.columns.str.replace(' ','_')
athletes_xlsx

                        Name      NOC           Discipline
0            AALERUD Katrine   Norway         Cycling Road
1                ABAD Nestor    Spain  Artistic Gymnastics
2          ABAGNALE Giovanni    Italy               Rowing
3             ABALDE Alberto    Spain           Basketball
4              ABALDE Tamara    Spain           Basketball
...                      ...      ...                  ...
11080  ZWICKER Martin Detlef  Germany               Hockey
11081      ZWOLINSKA Klaudia   Poland         Canoe Slalom
11082           ZYKOVA Yulia      ROC             Shooting
11083      ZYUZINA Ekaterina      ROC              Sailing
11084        ZYZANSKA Sylwia   Poland              Archery

[11085 rows x 3 columns]

Reading Team.xlsx

In [12]:
teams_xlsx = pd.read_excel("/content/drive/MyDrive/KG Project/Teams.xlsx")
teams_xlsx

              Name  ...             Event
0           Zambia  ...             Women
1          Vietnam  ...        Mixed Team
2        Venezuela  ...               Men
3       Uzbekistan  ...  Group All-Around
4    United States  ...             Women
..             ...  ...               ...
738      Argentina  ...             Women
739      Argentina  ...               Men
740      Argentina  ...               Men
741      Argentina  ...             Women
742         Angola  ...             Women

[743 rows x 4 columns]

In [13]:
coaches_xlsx = pd.read_excel("/content/drive/MyDrive/KG Project/Coaches.xlsx")
coaches_xlsx

                       Name  ...  Event
0             BRUN Aristide  ...    NaN
1         BURLANDO Giovanna  ...    NaN
2             CHIARI Simona  ...    NaN
3    CRESPI JAUME Margalida  ...    NaN
4           DIDENKO Natalia  ...    NaN
..                      ...  ...    ...
389      MIHAILOVIC Predrag  ...  Women
390       MOTOMIYA Makihiro  ...  Women
391   OCA GAIA Miguel Angel  ...  Women
392          PARADELO David  ...  Women
393           POROBIC Petar  ...  Women

[394 rows x 4 columns]

In [14]:
medals_xlsx = pd.read_excel("/content/drive/MyDrive/KG Project/Medals.xlsx")
medals_xlsx

    Rank                    Team/NOC  Gold  ...  Bronze  Total  Rank by Total
0      1    United States of America    39  ...      33    113              1
1      2  People's Republic of China    38  ...      18     88              2
2      3                       Japan    27  ...      17     58              5
3      4               Great Britain    22  ...      22     65              4
4      5                         ROC    20  ...      23     71              3
..   ...                         ...   ...  ...     ...    ...            ...
88    86                       Ghana     0  ...       1      1             77
89    86                     Grenada     0  ...       1      1             77
90    86                      Kuwait     0  ...       1      1             77
91    86         Republic of Moldova     0  ...       1      1             77
92    86        Syrian Arab Republic     0  ...       1      1             77

[93 rows x 7 columns]

In [15]:
entriesgender_xlsx = pd.read_excel("/content/drive/MyDrive/KG Project/EntriesGender.xlsx")
entriesgender_xlsx

               Discipline  Female  Male  Total
0          3x3 Basketball      32    32     64
1                 Archery      64    64    128
2     Artistic Gymnastics      98    98    196
3       Artistic Swimming     105     0    105
4               Athletics     969  1072   2041
5               Badminton      86    87    173
6       Baseball/Softball      90   144    234
7              Basketball     144   144    288
8        Beach Volleyball      48    48     96
9                  Boxing     102   187    289
10           Canoe Slalom      41    41     82
11           Canoe Sprint     123   126    249
12  Cycling BMX Freestyle      10     9     19
13     Cycling BMX Racing      24    24     48
14  Cycling Mountain Bike      38    38     76
15           Cycling Road      70   131    201
16          Cycling Track      90    99    189
17                 Diving      72    71    143
18             Equestrian      73   125    198
19                Fencing     107   108    215
20               Football     264   344    608
21                   Golf      60    60    120
22               Handball     168   168    336
23                 Hockey     192   192    384
24                   Judo     192   201    393
25                 Karate      40    42     82
26      Marathon Swimming      25    25     50
27      Modern Pentathlon      36    36     72
28    Rhythmic Gymnastics      96     0     96
29                 Rowing     257   265    522
30           Rugby Sevens     146   151    297
31                Sailing     175   175    350
32               Shooting     178   178    356
33          Skateboarding      40    40     80
34         Sport Climbing      20    20     40
35                Surfing      20    20     40
36               Swimming     361   418    779
37           Table Tennis      86    86    172
38              Taekwondo      65    65    130
39                 Tennis      94    97    191
40  Trampoline Gymnastics      16    16     32
41              Triathlon      55    55    110
42             Volleyball     144   144    288
43             Water Polo     122   146    268
44          Weightlifting      98    99    197
45              Wrestling      96   193    289

In [16]:
olympic_medal_player_xlsx = pd.read_excel("/content/drive/MyDrive/KG Project/olympic_medal_player.xlsx")
olympic_medal_player_xlsx

                            NOC  ... Medal
0    People's Republic of China  ...     1
1    People's Republic of China  ...     1
2    People's Republic of China  ...     1
3    People's Republic of China  ...     1
4    People's Republic of China  ...     1
..                          ...  ...   ...
910                  Kyrgyzstan  ...     3
911                     Armenia  ...     3
912                     Armenia  ...     3
913                     Armenia  ...     2
914                     Armenia  ...     2

[915 rows x 5 columns]

Mapping the dataset onto our ontology

In [17]:
name_set = set()
noc_set = set()
discipline_set = set()
team_set =  set()
event_set = set()
noc_set = set()
coach_name_set = set()
team_names_dict = {}
coach_name_dict = {}
noc_dict = {}
displicine_dict = {}
getclass = list(onto_olympics.classes())
obj_prop = list(onto_olympics.object_properties())
data_prop = list(onto_olympics.data_properties())
# making sure there are no instances before adding any in athletes class 
# for indiv in getclass[0].instances():
#     destroy_entity(indiv)
# getclass[0].instances() 

# for i in getclass[5].instances():
#   destroy_entity(i)
# getclass[3].instances

Adding Athlete

In [ ]:
with onto_olympics:
  for index, row in (athletes_xlsx.sample(n = 11062 , random_state = 1).iterrows()):
    a_names = row['Name']
    a_names = a_names.replace(' ', '_')
    a_NOC = row['NOC']
    a_NOC = a_NOC.replace(' ','_')
    a_disp= row['Discipline']
    a_disp = a_disp.replace(' ','_')

    ath_name = Thing(a_names)
    ath_disp = Thing(a_disp)
    displicine_dict[a_disp] = ath_disp
    # team_names_dict[concat_all] = t_name
    ath_noc = Thing(a_NOC)
    noc_dict[a_NOC]= ath_noc

    #object properties
    playsDiscipline = obj_prop[7]
    athletePlaysForNOC = obj_prop[0]

    print(obj_prop[7])

    ath_name.playsDiscipline.append(ath_disp)
    ath_name.athletePlaysForNOC.append(ath_noc)

Adding all the teams in the Team Class as instances

In [ ]:
with onto_olympics:

  for index, row in (teams_xlsx.sample(n = 743 , random_state = 1).iterrows()):
    teams_name = row['Name']
    teams_discipline = row['Discipline']
    teams_event = row['Event']
    teams_noc = row['NOC']      
    teams_name = teams_name.replace(' ', '_')
    teams_discipline = teams_discipline.replace(' ', '_')
    teams_event = teams_event.replace(' ', '_')
    teams_noc = teams_noc.replace(' ', '_')

    concat_all = "Team_" + teams_noc  + "_" + teams_event + "_" + teams_discipline
    # Men = getclass[5]("Men")
    playsCategory = obj_prop[14] # playsCategory object property
    teamPlaysDiscipline = obj_prop[9]
    teamCoachedBy = obj_prop[5]
    teamPlaysForNOC = obj_prop[16]
    teamName = data_prop[4]

    # print(playsCategory)

    discipline_set.add(teams_discipline)
    event_set.add(teams_event)
    team_set.add(concat_all)
    noc_set.add(teams_noc)


    # getclass[5].instances()
    # if concat_all in team_dict:
    #   print(f"{teams} already exists")

    # if teams_event in event_dict:
    #   print(f"{teams_event} already exists")
    

    t_name= Thing(concat_all)
    team_names_dict[concat_all] = t_name
    
    # d_name= Thing(teams_discipline)
    # noc_name= Thing(teams_noc)

    t_name.teamPlaysDiscipline.append(displicine_dict[teams_discipline])
    t_name.teamPlaysForNOC.append(noc_dict[teams_noc])
    t_name.teamName = [teams_name]

    e_name= Thing(teams_event)
    t_name.playsCategory.append(e_name)
    print(teams_event)

Adding coaches to owl thing

In [23]:
event_dict = {}
with onto_olympics: 
  for index, row in (coaches_xlsx.sample(n = 381 , random_state = 1).iterrows()):
    coach_name = row['Name']
    coach_name = coach_name.replace(' ', '_')
    coach_noc = row['NOC']
    coach_noc = coach_noc.replace(' ', '_')
    coach_disp = row['Discipline']
    coach_disp = coach_disp.replace(' ', '_')
    coach_event = row['Event']
    if (not isinstance(coach_event,float)):
      coach_event = coach_event.replace(' ', '_')

      coach_concat = "Team_" + coach_noc  + "_" + coach_event + "_" + coach_disp

      # get_name= team_names_dict[coach_concat]
   
      c_name = Thing(coach_name)
      coachesDisp = obj_prop[1]
      coachesTeam = obj_prop[4]
      coachesForNOC = obj_prop[3]

      c_name.coachesDiscipline.append(displicine_dict[coach_disp])
      c_name.coachesTeam.append(team_names_dict[coach_concat])
      c_name.coachesForNOC.append(noc_dict[coach_noc])

    # coach_concat = "Team_" + coach_noc  + "_" + coach_event + "_" + coach_disp

    # get_name= team_names_dict[coach_concat]
    # if(get_name):
    #   c_name = Thing(coach_name)
    #   coachesDiscipline = obj_prop[1]
    #   coachesTeam = obj_prop[4]
    #   coachesForNOC = obj_prop[3]

AttributeError: ignored

In [ ]:
# for i in getclass[0].instances():
#   print(i)

get_category_instances = getclass[5].instances()
get_category_instances
# len(getclass[3].instances())

[ASMR_3.Team,
 ASMR_3.Men,
 ASMR_3.Men's,
 ASMR_3.4_x_400m_Relay_Mixed,
 ASMR_3.Baseball,
 ASMR_3.Mixed_Relay,
 ASMR_3.Women's_Madison,
 ASMR_3.Group_All-Around,
 ASMR_3.Women,
 ASMR_3.Mixed_Team,
 ASMR_3.Men's_Madison,
 ASMR_3.Men's_4_x_200m_Freestyle_Relay,
 ASMR_3.Women's_Team,
 ASMR_3.Men's_Team,
 ASMR_3.Women's_4_x_400m_Relay,
 ASMR_3.Men's_4_x_100m_Medley_Relay,
 ASMR_3.Men's_Épée_Team,
 ASMR_3.Women's_4_x_100m_Freestyle_Relay,
 ASMR_3.Men's_4_x_100m_Freestyle_Relay,
 ASMR_3.Mixed_Doubles,
 ASMR_3.Men's_4_x_400m_Relay,
 ASMR_3.Duet,
 ASMR_3.Women's_4_x_100m_Relay,
 ASMR_3.Women's_Foil_Team,
 ASMR_3.Women's_Épée_Team,
 ASMR_3.Women's_4_x_200m_Freestyle_Relay,
 ASMR_3.Women's_Sabre_Team,
 ASMR_3.Men's_Sabre_Team,
 ASMR_3.Men's_Team_Sprint,
 ASMR_3.Mixed_4_x_100m_Medley_Relay,
 ASMR_3.Women's_4_x_100m_Medley_Relay,
 ASMR_3.Women's_Team_Sprint,
 ASMR_3.Men's_4_x_100m_Relay,
 ASMR_3.Softball]

In [ ]:
team_instances = []
team_instances = getclass[4].instances()
print(team_instances)
# obj_prop[7]

[]

In [ ]:
Men = getclass[4]("Men")
playsCategory = obj_prop[14] # playsCategory object property
# getclass[5].instances()
x = Men.playsCategory
print(Men.playsCategory)
# x.append(Men)

None

In [ ]:
# for instance in get_category_instances:
#   for word in instance:
#     print(word)

In [ ]:
print(team_instances[1].playsCategory)

[]

In [24]:
onto_olympics.save(file="ASMR11.0.owl")

33